<form method="post" action="{{ path('agent_escalate', {'id': ticket.id}) }}" onsubmit="return confirm('Are you sure you want to escalate this ticket?');">
    <input type="hidden" name="_token" value="{{ csrf_token('escalate' ~ ticket.id) }}">
    <button class="btn btn-danger col-1">Escalate</button>
</form>
