<div class="row mb-3">
    <div class="col-1 themed-grid-col table_header">Ticket #</div>
    <div class="col-1 themed-grid-col table_header">Priority</div>
    <div class="col-2 themed-grid-col table_header">Customer</div>
    <div class="col-3 themed-grid-col table_header">Title</div>
    <div class="col-2 themed-grid-col table_header">Status</div>
    <div class="col-1 themed-grid-col table_header">Agent</div>
    <div class="col-2 themed-grid-col table_header">Actions</div>
</div>
